In [13]:
#practice for listings

In [14]:
subjects = ['Englsih' , 'Maths' , 'Coumputer' , 'History' , 'Science']

In [15]:
marks = [ '90' , '60' , '85' , '75' , '80']

In [33]:
print ('Student Name :         Ashhad Azeem')
print ('father name :          Fazal ul Qadir')
print ('Roll No :              784ATH')
print ((subjects[0]) , ('                 ') , (marks[0]))
print ((subjects[1],('                 ')     , (marks[1]))
print ((subjects[2]) , ('                 ') ,(marks[2]))
print ((subjects [3]) , ('                 ') , (marks[3]))
print ((subjects[4]) , ('                 ') , (marks[4]))

SyntaxError: invalid syntax (<ipython-input-33-1bff767e7c7b>, line 6)

In [35]:
subjects = ['Englsih' , 'Maths' , 'Coumputer' , 'History' , 'Science']
marks = [ '90' , '60' , '85' , '75' , '80']
print ('Student Name :         Ashhad Azeem')
print ('father name :          Fazal ul Qadir')
print ('Roll No :              784ATH')
print ((subjects[0]) , ('                 ') , (marks[0]))
print ((subjects[1]),('                 ')     , (marks[1]))
print ((subjects[2]) , ('                 ') ,(marks[2]))
print ((subjects [3]) , ('                 ') , (marks[3]))
print ((subjects[4]) , ('                 ') , (marks[4]))
print (("Total Marks" + (marks[0] + marks[1] + marks[2] + marks[3] + marks [4]))

SyntaxError: unexpected EOF while parsing (<ipython-input-35-30523934bc15>, line 11)

In [8]:
subjects = ['Englsih' , 'Maths' , 'Coumputer' , 'History' , 'Science']
marks = [ 90 , 60 , 85 , 75 , 80]
print ('Student Name :         Ashhad Azeem')
print ('father name :          Fazal ul Qadir')
print ('Roll No :              784ATH')
print ((subjects[0]) , ('                 ') , (marks[0]))
print ((subjects[1]),('                   ')     , (marks[1]))
print ((subjects[2]) , ('               ') ,(marks[2]))
print ((subjects [3]) , ('                 ') , (marks[3]))
print ((subjects[4]) , ('                 ') , (marks[4]))
print (("Total Marks") + "               " + str(marks[0] + marks[1] + marks[2] + marks[3] + marks[4]))

Student Name :         Ashhad Azeem
father name :          Fazal ul Qadir
Roll No :              784ATH
Englsih                   90
Maths                     60
Coumputer                 85
History                   75
Science                   80
Total Marks               390